<?xml version="1.0" encoding="UTF-8"?>
<Context docBase="JSPMiniProject" path="/JSPMiniProject" reloadable="true" source="org.eclipse.jst.jee.server:JSPMiniProject">
    <Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="10" maxIdle="10" maxWait="-1" name="jdbc/oracle" password="tiger" type="com.sist.test.MyDataSource" url="jdbc:oracle:thin:@211.238.142.72:1521:ORCL" username="scott"/>
</Context>